body {
  font-size: 16px;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  width: calc(calc(1780 / 2050) * 100vw);
  max-width: 1780px;
  margin: 0 auto;
}

.intro {
  position: relative;
  width: 100%;
  min-height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

.intro-vignette {
  position: absolute;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.75);
  text-transform: uppercase;
  font-size: 28.125rem;
  line-height: 450px;
}

.intro-vignette__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 409.5px;
  font-weight: 700;
  width: calc((1535 / 2050) * 100vw);
  color: rgba(255, 255, 255, 0.09);
}

.intro-container {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.intro-container__title {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 52px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 30px;
}

.intro-container__title span {
  font-weight: 700;
}

.intro-container__subtitle {
  text-transform: uppercase;
  font-size: 1.875rem;
  line-height: 54px;
  font-weight: 400;
  color: #ffffff;
}

.lookbook {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 60px;
}

.lookbook-filter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-height: 125px;
  border-top: 1px solid #ededed;
}

.lookbook-filter__menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.lookbook-filter__item {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 400;
  color: #727272;
  margin-right: 55px;
  cursor: pointer;
}

.lookbook-filter__sort-btn {
  display: none;
  font-size: 1.375rem;
  color: #727272;
  border: none;
  background-color: #ffffff;
}

.lookbook-filter__sort-btn:active, .lookbook-filter__sort-btn:focus {
  outline: none;
}

.lookbook-filter .selected-link {
  display: none;
}

.lookbook-filter .active {
  color: #70c7c7;
}

.lookbook-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 1px solid #ededed;
}

.lookbook-content__banner-janes {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 870px;
  width: 42.44vw;
  height: 500px;
  padding: 60px 0 15px 15px;
  margin-bottom: 30px;
  background-image: url(../images/banner-jane.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lookbook-content__banner-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  color: #575153;
  margin-bottom: 30px;
}

.lookbook-content__banner-title span {
  font-weight: 700;
}

.lookbook-content__banner-subtitle {
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: #727272;
  margin-bottom: 20px;
}

.lookbook-content__banner-text {
  max-width: 325px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #8c8b8b;
  margin-bottom: 30px;
}

.lookbook-content__banner-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 180px;
  padding: 20px 30px;
  text-transform: uppercase;
  border: 2px solid #727272;
  font-size: 1rem;
  color: #727272;
  text-align: center;
  cursor: pointer;
}

.lookbook-content__banner-button:hover {
  background-color: #70c7c7;
  border-color: #70c7c7;
  color: #ffffff;
}

.lookbook-content__banner-win {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  max-width: 1325px;
  width: 64.63vw;
  min-height: 500px;
  padding: 60px 15px 15px;
  margin-bottom: 30px;
  background-image: url(../images/banner-win.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lookbook-content__banner-win .lookbook-content__banner-text {
  max-width: 500px;
}

.lookbook-content__banner-title--banner-win {
  position: absolute;
  right: 15px;
  top: 20%;
  font-size: 12.5rem;
  font-weight: 700;
  color: #70c7c7;
  text-transform: uppercase;
  text-align: right;
}

.lookbook-content__banner-subtitle--banner-win {
  font-size: 4.5rem;
}

.lookbook-content__item {
  position: relative;
  max-width: 420px;
  width: 20.59vw;
  min-width: 320px;
  height: 500px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.lookbook-content__item:hover {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.24);
}

.lookbook-content__item:hover .lookbook-content__item-inner {
  z-index: 5;
}

.lookbook-content__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -10;
  left: 0;
  right: 0;
  top: 60%;
  width: 125px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.lookbook-content__item-inner a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
  font-size: 1.875rem;
  text-decoration: none;
  -webkit-transition: .35;
  -o-transition: .35;
  transition: .35;
  -webkit-box-shadow: 2px 2px 23px 16px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 2px 23px 16px rgba(0, 0, 0, 0.13);
}

.lookbook-content__item-inner a:hover {
  background-color: #000000;
  color: #ffffff;
}

.choice-lookbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

.choice-lookbook__title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  color: #575153;
  margin-bottom: 30px;
}

.choice-lookbook__subtitle {
  font-weight: 300;
}

.your-lookbook {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 660px;
  width: calc((660 / 2050) * 100vw);
  min-width: 460px;
  min-height: 500px;
  padding: 100px 60px 15px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.your-lookbook .lookbook-content__banner-text {
  margin-left: auto;
}

@media (max-width: 1770px) {
  .lookbook-content__banner-win {
    background: url(../images/banner-win.jpg), rgba(255, 255, 255, 0.3);
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lookbook-content__banner-win .lookbook-content__banner-title,
  .lookbook-content__banner-win .lookbook-content__banner-subtitle,
  .lookbook-content__banner-win .lookbook-content__banner-text
.lookbook-content__banner-button {
    color: #2e2b2d;
  }
  .lookbook-content__banner-title--banner-win {
    font-size: 9.375rem;
  }
  .lookbook-content__banner-title--banner-win .lookbook-content__banner-subtitle--banner-win {
    font-size: 3.25rem;
  }
}

@media (max-width: 1580px) {
  .choice-lookbook {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .your-lookbook {
    max-width: 1200px;
    width: 70vw;
    margin-bottom: 45px;
  }
}

@media (max-width: 1540px) {
  .lookbook-content__banner-janes {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 64%;
    max-width: 900px;
    min-height: 430px;
    background: url(../images/banner-jane.jpg), rgba(255, 255, 255, 0.2);
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .lookbook-content__banner-janes .lookbook-content__banner-text {
    color: #575153;
  }
  .lookbook-content__item {
    width: 32%;
    min-width: 270px;
    min-height: 430px;
  }
  .lookbook-content__banner-win {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    min-height: 430px;
  }
}

@media (max-width: 1300px) {
  .intro {
    min-height: 400px;
  }
  .intro-vignette__text {
    font-size: 25rem;
    line-height: 400px;
    height: 359.5px;
  }
  .lookbook-content__banner-win {
    grid-column: 1/3;
  }
}

@media (max-width: 1150px) {
  .intro {
    min-height: 350px;
  }
  .intro-vignette__text {
    font-size: 21.875rem;
    line-height: 350px;
    height: 309.5px;
    width: 95vw;
  }
}

@media (max-width: 1075px) {
  .lookbook-content__banner-janes {
    max-width: 900px;
    width: 100%;
    min-height: 370px;
  }
  .lookbook-content__item {
    width: 28%;
    min-height: 370px;
  }
  .lookbook-content__banner-title--banner-win {
    display: none;
  }
}

@media (max-width: 930px) {
  .lookbook-content__item {
    width: 48%;
  }
}

@media (max-width: 890px) {
  .lookbook-filter__item {
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  .intro {
    min-height: 200px;
  }
  .intro-vignette__text {
    font-size: 12.5rem;
    line-height: 200px;
    height: 183px;
  }
  .intro-container__title {
    font-size: 2.25rem;
    line-height: 42px;
    margin-bottom: 15px;
  }
  .intro-container__subtitle {
    font-size: 1.25rem;
    line-height: 44px;
  }
  .lookbook {
    margin-top: 60px;
  }
}

@media (max-width: 830px) {
  .your-lookbook {
    width: 90vw;
    min-width: 300px;
  }
}

@media (max-width: 690px) {
  .lookbook-filter {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .lookbook-filter__menu {
    display: none;
    position: absolute;
    z-index: 10;
    top: 90%;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 55%;
    min-width: 220px;
    height: auto;
    border: 1px solid #ededed;
    font-size: 1.125rem;
  }
  .lookbook-filter__menu--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lookbook-filter__sort-btn {
    display: block;
  }
  .lookbook-filter__item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 15px 0 25px;
    -webkit-transition: .3;
    -o-transition: .3;
    transition: .3;
  }
  .lookbook-filter__item:not(:first-child) {
    border-top: 1px solid #ededed;
  }
  .lookbook-filter__item:hover {
    background-color: #ededed;
  }
  .lookbook-filter .selected-link {
    display: block;
    opacity: 0;
  }
  .lookbook-filter .active {
    color: #727272;
    background-color: #ededed;
  }
  .lookbook-filter .active .selected-link {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 643px) {
  .lookbook-content__item {
    min-width: 148px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .intro {
    min-height: 150px;
  }
  .intro-vignette__text {
    font-size: 8.75rem;
    line-height: 140px;
    height: 121px;
  }
  .intro-container__title {
    font-size: 1.625rem;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .intro-container__subtitle {
    font-size: 1rem;
    line-height: 30px;
  }
  .lookbook-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .lookbook-content__banner-title {
    font-size: 2.5rem;
  }
  .lookbook-content__item {
    height: 450px;
    width: 100%;
  }
  .your-lookbook {
    min-height: 350px;
    padding: 100px 15px 15px;
  }
}
